html, body {
	background-color: white;
	height: 100%;
	width: 100%;
}

.clearfix {
	clear: both;
}

body {
	color: $type;
}

h1,h2,h3,h4,h5,h6,a,p {
	letter-spacing: .4px;
}
input {
	border: none;
	background: none;
}
h1,h2,h3 {
	font-family: $open-sans;
	font-weight: 300;
	letter-spacing: .8px;

}

p,a {
	font-family: $open-sans;
	font-weight: 300;
	letter-spacing: .4px;
	margin: 0;
}


.action {
	background-color: $blue;
	border-bottom: 6px solid $blue-highlight;
	color: white;
	text-weight: 400;
	display: block;
	height: 44px;
	line-height: 44px;
	opacity: .97;
	text-align: center;
	width: 200px;
	}

nav {
	background-color: $orange;
	height: 64px;
	padding-top: 15px;
	position: fixed;
	opacity: .9;
	top: 0;
	width: 100%;
	z-index: 1;
	
	h1 {
		color: white;
		font-size: 20px;
		float: left;
		line-height: 40px;
		text-align: center;
	}

	.buttons {
		width: 25%;
	}

	.center {
		width: 50%;

	}

	.ss-icon {
		margin-top: 5px;
	}

	a {
		color: white;
		display: block;
		line-height: 40px;
	}

	svg {
		fill: white;
		height: 40px;
		-webkit-transition: background 0.3s ease;
		-moz-transition: background 0.3s ease;
		transition: background 0.3s ease;		
	}
}

.container {
	margin: 0px auto;
	width: 90%;
}

.content {
	margin-top: 64px;
	height: 100%;
}

.home {

	h2,h4,p {
		margin: 0 !important;
	}
	h2 {
		font-size: 70px;
		font-weight: 300;
		line-height: 90px;
		text-transform: uppercase;
	}
	h4 {
		font-weight: 200;
		font-style: italic;
	}

	h6 {
		font-size: 12px;
		font-weight: 200;
		line-height: 12px;
		em {
			text-align: right;
		}
	}

	.top-section {
		background: url(../img/metro.jpg) no-repeat fixed;
		background-size: 300%;
		color: white;
		margin-top: 64px;
		
		.overlay-color {
			background-color: rgba(253,153,83,.9);
			padding: 30px;
		}

		h2,h4,h6 {
			color: white;
		}
	}

	.checkin {
		em {
			display: block;
			color: $orange;
			padding: 15px;
		}


		li {
			border-bottom: 1px solid $yellow;
			display: block;
			list-style: none;
			padding: 15px;

			
			&:first-child {
				border-top: 1px solid $yellow;
			}

			p {
				color: $type;
				line-height: 50px;
				padding-bottom: 0;
			}
		}

		a {

		}

		.half {
			display: inline-block;
			width: 50%;

			&.right  {
				float: right;
				width: 40%;
			.ss-icon {
				font-size: 10px;
				margin-left: 6px;
			}
			
			}
		}
		
	}
}


.gallery {
	.submission-image {
		height: 320px;
		max-width: 320px;
		margin: 0px auto;
		width: 100%;
	}
	.description {
		margin-bottom: 20px;
		margin-top: -20px;
		max-width: 360px;
		
		a {
			color: $blue-highlight;
			font-style: italic;
			font-weight: 400;
		}

	}

  .likes {
  	color: $red;
  	float: left;
   	font-size: 16px;
  	font-weight: 200;
  	padding: 10px;
  }
  .like, .liked {
  	font-size: 40px;
  	font-weight: 200;
  	float: right;
  	padding: 10px;
  }

  .like {
  	color: gray;
  }

  .liked {
  	color: $red;
  }

	.extra-padding {
		padding-bottom: 60px;
	}
}

.create-button {
	bottom: 10px;
	height: 44px;
	left: calc(50% - 150px);
	left: -webkit-calc(50% - 150px);
	left: -moz-calc(50% - 150px);
	position: fixed;
	width: 300px;
	
}

.create {

	.container {
		max-width: 320px;
		width: 100%;
	}
	canvas {
		background: url(../img/mappath.svg) no-repeat center;
		height: 320px;
		width: 100%;
		max-width: 320px;
		max-height: 320px;
		margin: 0 auto;
	}

	.colors span {
		margin: 10px 0px 10px 0px;
		border-radius: 50px;
		width: 44px;
		height: 44px;
		display: inline-block;
		margin: 10px;
	}

	#orange {
		background-color: $orange;
		border: 1px solid;
		border-color: darken($orange, 10);

	}

	#yellow {
		background-color: $yellow;
		border: 1px solid;
		border-color: darken($yellow, 10);
	}

	#blue{
		background-color: $blue;
			border: 1px solid;
		border-color: darken($blue, 10);
	}

	#red {
		background-color: $red;
			border: 1px solid;
		border-color: darken($red, 10);
	}

	#green{
		background-color: $green;
			border: 1px solid;
		border-color: darken($green, 10);
	}

	#black {
		background-color: $type;
			border: 1px solid;
		border-color: darken($type, 10);
	}

	#white {
		background-color: white;
			border: 1px solid;
		border-color: darken($off-white, 10);
	}

	.active-tool {
	    opacity: 1;
		-webkit-transition: opacity 0.3s ease;
		-moz-transition: opacity 0.3s ease;
		transition: opacity 0.3s ease;
	}
	.inactive-tool {
		opacity: .5;
		-webkit-transition: opacity 0.3s ease;
		-moz-transition: opacity 0.3s ease;
		transition: opacity 0.3s ease;
	}

	.size {
		margin-top: 50px;
		display: block;
	}

	.actions {
		margin-top: 20px;
		.undo, .download {
			color: $blue;
			float: left;
			font-size: 30px;
			padding: 10px;
		}

	}



	.action {
		float: right;
		margin-right: 10px;
		width: 200px !important;
	}
}

.tip {
	background-color: $orange;
	position: fixed;
	
	p {
		color: white;
		padding: 10px;
	}
}


.tip-horizontal {
	width: 100%;
	height: 400px;
	left: 0;
	z-index: 10;
}

.tip-bottom {
	bottom: -370px;
	top: inherit;
}

.tip-bottom.tip-open {
	bottom: 0px !important;
}

.tip,
.tip-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.tip {
	.active {
		background-color: $orange;
	}
}

#showBottom {
top: -15px;
left: 145px;
width: 30px;
height: 30px;
background-color: $orange;
position: absolute;
-webkit-transform: rotate(45deg);
}





.toolbox {
	background: white;
	padding: 20px;
	opacity: .97;
	position: fixed;
	height: 90%;
	margin-top: 64px;
	overflow: scroll;
	
	input[type=range] {
    -webkit-appearance: none;
    background-color: $yellow;
    width: 90%;
    height:10px;
}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: $yellow;
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

h3 {
	margin: 20px 0 20px 0;
}
}

.active {
	background-color: white;
	-webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	transition: background 0.3s ease;
	svg {
		fill: $orange;
	-webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	transition: background 0.3s ease;
	}
}


/* Orientation-dependent styles for the content of the menu */

.toolbox-vertical {
	width: 250px;
	top: 0;
	z-index: 100;
}

.toolbox-vertical a {
	border-bottom: 1px solid #258ecd;
	padding: 1em;
}


/* Vertical menu that slides from the left or right */



.toolbox-right {
	right: -250px;
}



.toolbox-right.toolbox-open {
	right: 0px;
}



/* Transitions */

.toolbox,
.toolbox-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.help-accordion {
  @include section-container($section-type:accordion);
  & > section { @include section($section-type:accordion, $title-selector:".help-title", $content-selector:".help-content"); }

  background-color: none;
  border: none;
}

.help-title {
	.ss-icon {
		font-size: 8px;
	}
}


