.clearfix {
	clear: both;
}

p {
	margin: 0;
}

nav {
	background-color: #b4d455;
	height: 44px;
	width: 100%;
	
	h1 {
		color: white;
		font-size: 20px;
		float: left;
		line-height: 35px;
		text-align: center;
	}

	.buttons {
		width: 25%;
	}

	.center {
		width: 50%;

	}
}

.container {
	margin: 0px auto;
	width: 90%;
}

.home {
	margin-top: 60px;

	h2 {
		font-size: 40px;
	}

	h4 {
		font-size: 18px;
	}

	.checkin {


		li {
			border-bottom: 1px solid gray;
			display: block;
			list-style: none;

			
			&:first-child {
				border-top: 1px solid gray;
			}

			p {
				line-height: 50px;
				margin-bottom: 0;
			}

			a {
				background-color: gray;
			}
		}

		.half {
			display: inline-block;
			width: 50%;
		}
		
	}
}

.gallery {
	.submission-image {
		background-color: red;
		height: 320px;
		max-width: 320px;
		margin: 0px auto;
		width: 100%;
	}
	.description {
		margin-bottom: 20px;
		margin-top: 20px;
		max-width: 360px;
		
}
}

.create {
	background-color: blue;
	bottom: 10px;
	height: 44px;
	left: calc(50% - 100px);
	left: -webkit-calc(50% - 100px);
	left: -moz-calc(50% - 100px);
	position: fixed;
	width: 200px;
	
}