$open-sans: 'Open Sans', sans-serif;
$oswald: 'Oswald', sans-serif;

//colors

$type : #303030;

$orange : #FD8F54;
$yellow : #F7CE48;
$blue : #380DAE;
$red : #FF5C70;
$green : #A1DAA6;

.orange {
	background-color: $orange;
}

.yellow {
	background-color: $yellow;
}

.blue {
	background-color: $blue;
}

.red {
	background-color: $red;
}

.green {
	background-color: $green;
}




