$open-sans: 'Open Sans', sans-serif;
$oswald: 'Oswald', sans-serif;

//colors

$type : #2B2B2B;

$orange : #FD8F54;
$yellow : #F7CE48;
$blue : #80DAE9;
$blue-highlight: #42D8E7;
$red : #FF5C70;
$green : #A1DAA6;
$off-white: #f4f4f4;

.orange, #orange {
	background-color: $orange;
}

.yellow, #yellow {
	background-color: $yellow;
}

.blue, #blue{
	background-color: $blue;
}

.red, #red {
	background-color: $red;
}

.green, #green{
	background-color: $green;
}

#black {
	background-color: $type;
}

#white {
	background-color: $off-white;
}




